*.beam
*@*.*
*@*
*~*.*~*
*.*~*
*~*.*
itch.txt
tikka.txt
*.dump
*.txt
/ebin/*.*
.eunit/
/doc/
/deps/*
/rel/quickfix_erl/*
*.tar*
*.so
*.o
/doc/*
*.trace
apps/quickfix_erl/doc/
*.production
/apps/quickfix_erl/src/eproject.cfg
/eproject.cfg
/rel/vars.config
*~