{sub_dirs, ["rel"]}.
{require_otp_vsn, "R13B04|R14"}.

{deps, [
    {erlsom, ".*", {git, "git://github.com/willemdj/erlsom.git", "master"}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
    {timed_supervisor, ".*", {git,"git://github.com/omarkj/TimedSupervisor.git","master"}},
    {lager,"0.9.*", {git, "git://github.com/basho/lager.git","master"}}
]}.

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
{xref_checks, [undefined_function_calls]}.
{erl_opts, [{parse_transform, lager_transform}]}.