{quickfix_erl,
	{sessions,
		[
			{begin_string, <<"FIX4.2">>},
			{sender_comp_id, <<"CLIENT1">>},
			{sender_sub_id, <<"">>},
			{sender_loc_id, <<"">>},
			{target_comp_id, <<"EXECUTOR">>},
			{target_sub_id, <<"">>},
			{target_loc_id, <<"">>},
			{session_qualifier, <<"">>},
			{default_appver_id, <<"">>},
			{connection_type, <<"initiator">>},
			{use_data_dictionary, false},
			{use_local_time, false},
			{start_day, <<"mon">>},
			{max_latency, 4},
			{end_day, <<"fri">>},
			{heartbeat_interval, 60},
			{socket_connect_host, ""},
			{socket_connect_port, 80},
			{socket_failover_host, ""},
			{socket_failover_port, 80},
 		        {socket_disaster_host, ""},
			{socket_disaster_port, 80},
			{reconnect_interval, 60},
			{refresh_on_logon, false},
			{reset_on_logon, false},
			{reset_on_logout, false},
			{reset_on_disconnect, false},
			{data_dictionary, undefined},
			{logon_timeout, 60},
			{logout_timeout, 60},
			{send_redundant_resend_requests, false},
			{milliseconds_in_timestamp, false}			
		]
	}
}.