[
  {quickfix_erl,
    [{sessions,
      [
        [{begin_string, <<"FIX4.2">>},
	{sender_comp_id, <<"CLI_44D">>},
	{sender_sub_id, <<"">>},
	{sender_loc_id, <<"">>},
	{target_comp_id, <<"KYTEUAT_ECNP">>},
	{target_sub_id, <<"">>},
	{target_loc_id, <<"">>},
	{session_qualifier, <<"">>},
	{default_appver_id, <<"">>},
	{connection_type, <<"initiator">>},
	{use_data_dictionary, false},
	{use_local_time, false},
	{days, [mon,tue,wed,thu,fri,sat,sun]	},
	{start_time, "00:00:00"},
	{max_latency, 4},
	{end_time, "23:59:00"},
	{heartbeat_interval, <<"60">>},
	{socket_connect_host, "0.0.0.0"},
	{socket_connect_port, 27101},
	{socket_failover_host, "127.0.0.1"},
	{socket_failover_port, 27101},
 	{socket_disaster_host, "0.0.0.0"},
	{socket_disaster_port, 80},
	{reconnect_interval, <<"60">>},
	{refresh_on_logon, false},
	{reset_on_logon, <<"Y">>},
	{reset_on_logout, <<"N">>},
	{reset_on_disconnect, <<"N">>},
	{data_dictionary, "/home/nisbus/code/erlang/quickfix_erl/FIX42.xml"},
	{logon_timeout, <<"60">>},
	{logout_timeout, <<"60">>},
	{send_redundant_resend_requests, <<"N">>},
	{milliseconds_in_timestamp, <<"N">>}]
      ]
    }]
  },

  {lager,[
	{handlers, [
                      {lager_console_backend, info},
                      {lager_file_backend, [{"log/error.log", error},
                                            {"log/console.log", info},
                                            {"log/debug.log", debug}
                                           ]}
                    ]}
  ]},
  %% SASL config
  {sasl, [
          {sasl_error_logger, {file, "log/sasl-error.log"}},
          {errlog_type, error},
          {error_logger_mf_dir, "log/sasl"},      % Log directory
          {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
          {error_logger_mf_maxfiles, 5}           % 5 files max
         ]}
].